<!-- templates/school/partials/attendance_modal_container.html -->
{% load dic_filters %}
<div class="modal fade" id="attendanceModal">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">

      <div class="modal-header">
        <h6 class="modal-title">Attendance</h6>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body" id="attendanceContent">
        Loading...
      </div>

    </div>
  </div>
</div>